mixin section_header(name, value)
   section.flex.justify-between.py-1.w-full.border-dashed.border-gray-600.border-t.border-b
      h1.text-sm.tracking-wider #{name}
      h2 #{value}

mixin product_header(name, quantity)
   header.flex.justify-between
      span #{name}
      section
         span #{quantity}
         input(type="checkbox").ml-3

html
   head
      title Order #{id}
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(href='https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css' rel="stylesheet")
   body.px-3
      div.h-16
      ul.space-y-3
         each item in mealkits   
            li
               +section_header(item.name, `Total: ${item.sachets.count}`)
               section.flex.justify-between
                  h3.font-bold Sachet
                  span.font-bold.pr-6 Quantity
               ul.space-y-3.divide-y.divide-dashed.divide-gray-700
                  each node in item.sachets.list
                     li.py-1
                        +product_header(`${node.ingredient} - ${node.processing}`, node.quantity)
                        if stationName === null
                           section.flex.flex-col
                              h3.font-bold Station: 
                                 span.font-normal #{node.station}
                        section.flex.flex-col
                           h3.font-bold Packaging: 
                              span.font-normal #{node.packaging.name}
                        section.flex.flex-col
                           h3.font-bold Supplier
                           span Name: #{node.supplier.name}
                           span Item: #{node.supplier.item.name}
      section.mt-2
         +section_header('ORDER INFO', `ORD#${id}`)
         header.mt-2.flex.justify-between
            h2 #{fulfillmentType}
            span #{readyBy}
         if stationName !== null
            section.mt-2.flex.flex-col
               h3.font-bold Station: 
                  span.font-normal #{stationName}
         main.my-2.flex.flex-col
            h2 #{customer.customerFirstName} #{customer.customerLastName}
            span Email: #{customer.customerEmail}
            span Phone: #{customer.customerPhone}
      
