doctype true
html(xmlns='http://www.w3.org/1999/xhtml' xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:v='urn:schemas-microsoft-com:vml')
  head
    //if gte mso 9
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
    meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
    meta(content='width=device-width' name='viewport')
    // [if !mso] <!
    meta(content='IE=edge' http-equiv='X-UA-Compatible')
    // <![endif]
    title
    // [if !mso] <!
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
    // <![endif]
    style(type='text/css').
      body {
      margin: 0;
      padding: 0;
      }
      table,
      td,
      tr {
      vertical-align: top;
      border-collapse: collapse;
      }
      * {
      line-height: inherit;
      }
      a[x-apple-data-detectors=true] {
      color: inherit !important;
      text-decoration: none !important;
      }
    style#media-query(type='text/css').
      @media (max-width: 500px) {
      .block-grid,
      .col {
      min-width: 320px !important;
      max-width: 100% !important;
      display: block !important;
      }
      .block-grid {
      width: 100% !important;
      }
      .col {
      width: 100% !important;
      }
      .col_cont {
      margin: 0 auto;
      }
      img.fullwidth,
      img.fullwidthOnMobile {
      max-width: 100% !important;
      }
      .no-stack .col {
      min-width: 0 !important;
      display: table-cell !important;
      }
      .no-stack.two-up .col {
      width: 50% !important;
      }
      .no-stack .col.num2 {
      width: 16.6% !important;
      }
      .no-stack .col.num3 {
      width: 25% !important;
      }
      .no-stack .col.num4 {
      width: 33% !important;
      }
      .no-stack .col.num5 {
      width: 41.6% !important;
      }
      .no-stack .col.num6 {
      width: 50% !important;
      }
      .no-stack .col.num7 {
      width: 58.3% !important;
      }
      .no-stack .col.num8 {
      width: 66.6% !important;
      }
      .no-stack .col.num9 {
      width: 75% !important;
      }
      .no-stack .col.num10 {
      width: 83.3% !important;
      }
      .video-block {
      max-width: none !important;
      }
      .mobile_hide {
      min-height: 0px;
      max-height: 0px;
      max-width: 0px;
      display: none;
      overflow: hidden;
      font-size: 0px;
      }
      .desktop_hide {
      display: block !important;
      max-height: none !important;
      }
      }
  body.clean-body(style='margin: 0; padding: 0; -webkit-text-size-adjust: 100%; background-color: #ffffff;')
    //if IE
      .ie-browser
    table.nl-container(role='presentation' style='table-layout: fixed; vertical-align: top; min-width: 320px; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; width: 100%;' valign='top' width='100%' cellspacing='0' cellpadding='0' bgcolor='#ffffff')
      tbody
        tr(style='vertical-align: top;' valign='top')
          td(style='word-break: break-word; vertical-align: top;' valign='top')
            //if (mso)|(IE)
              table(width='100%' cellspacing='0' cellpadding='0' border='0')
                tbody
                  tr
                    td(style='background-color:#ffffff' align='center')
            div(style='background-color:#ffffff;')
              .block-grid(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:#ffffff;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 480px; display: table-cell; vertical-align: top; width: 480px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%' cellspacing='0' cellpadding='0' border='0')
                          tbody
                            tr(style='vertical-align: top;' valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                                table.divider_content(role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 25px; width: 100%;' valign='top' width='100%' height='25' cellspacing='0' cellpadding='0' border='0' align='center')
                                  tbody
                                    tr(style='vertical-align: top;' valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' height='25')
                                        span
                        .img-container.center.fixedwidth(style='padding-right: 0px;padding-left: 0px;' align='center')
                          //if mso
                            table(width='100%' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr(style='line-height:0px')
                                  td(style='padding-right: 0px;padding-left: 0px;' align='center')
                          a(href=restaurant.brand.website style='outline:none' tabindex='-1' target='_blank')
                            img.center.fixedwidth(alt=restaurant.brand.name src=restaurant.brand.logo.logoMark style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 80px; display: block;' title=restaurant.brand.name width='80' border='0' align='middle')
                          //if mso
                        table.divider(role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%' cellspacing='0' cellpadding='0' border='0')
                          tbody
                            tr(style='vertical-align: top;' valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                                table.divider_content(role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 25px; width: 100%;' valign='top' width='100%' height='25' cellspacing='0' cellpadding='0' border='0' align='center')
                                  tbody
                                    tr(style='vertical-align: top;' valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' height='25')
                                        span
                        h2(style='text-align:center;') #{restaurant.brand.name}
                          //if mso
                        table.divider(role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%' cellspacing='0' cellpadding='0' border='0')
                          tbody
                            tr(style='vertical-align: top;' valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                                table.divider_content(role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 0px; width: 100%;' valign='top' width='100%' height='0' cellspacing='0' cellpadding='0' border='0' align='center')
                                  tbody
                                    tr(style='vertical-align: top;' valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' height='0')
                                        span
                        //if mso
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 15px; font-family: Tahoma, sans-serif')
                        div(style='color:#33563c;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:15px;padding-left:10px;')
                          div(style='font-size: 14px; line-height: 1.2; color: #33563c; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 17px;')
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 17px; margin: 0;')
                              strong
                                span(style='font-size: 38px;') Thanks for placing your order!
                        //if mso
                        //if mso
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 60px; padding-left: 60px; padding-top: 10px; padding-bottom: 20px; font-family: Tahoma, sans-serif')
                        div(style='color:#33563c;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.8;padding-top:10px;padding-right:60px;padding-bottom:20px;padding-left:60px;')
                          div(style='line-height: 1.8; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #33563c; mso-line-height-alt: 22px;')
                            p(style='font-size: 18px; line-height: 1.8; text-align: center; word-break: break-word; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 32px; margin: 0;')
                              span(style='font-size: 18px;') Your Order is scheduled to deliver by #{plan.deliveryDate}.
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 480px; display: table-cell; vertical-align: top; width: 480px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 30px; padding-left: 30px; padding-top: 10px; padding-bottom: 5px; font-family: Tahoma, sans-serif')
                        div(style='color:#33563c;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.8;padding-top:10px;padding-right:30px;padding-bottom:5px;padding-left:30px;')
                          div(style='line-height: 1.8; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #33563c; mso-line-height-alt: 22px;')
                            p(style='font-size: 14px; line-height: 1.8; word-break: break-word; text-align: center; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 25px; margin: 0;')
                              strong
                                span(style='font-size: 16px;') Order No: #{id}#{isTest ? '(Test)' : ''}
                        div(style='color:#33563c;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.8;padding-top:10px;padding-right:30px;padding-bottom:5px;padding-left:30px;')
                          div(style='line-height: 1.8; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #33563c; mso-line-height-alt: 22px;')
                            p(style='font-size: 14px; line-height: 1.8; word-break: break-word; text-align: center; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 25px; margin: 0;')
                              strong
                                span(style='font-size: 16px;') Payment Id: #{transactionId}
                        div(style='color:#33563c;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.8;padding-top:10px;padding-right:30px;padding-bottom:5px;padding-left:30px;')
                          div(style='line-height: 1.8; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #33563c; mso-line-height-alt: 22px;')
                            p(style='font-size: 14px; line-height: 1.8; word-break: break-word; text-align: center; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 25px; margin: 0;')
                              strong
                                span(style='font-size: 16px;') Payment Status: #{paymentStatus}
                        div(style='color:#33563c;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.8;padding-top:10px;padding-right:30px;padding-bottom:5px;padding-left:30px;')
                          div(style='line-height: 1.8; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #33563c; mso-line-height-alt: 22px;')
                            p(style='font-size: 14px; line-height: 1.8; word-break: break-word; text-align: center; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 25px; margin: 0;')
                              strong
                                span(style='font-size: 16px;') Where It's Going:
                        //if mso
                        //if mso
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 30px; padding-left: 30px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                        div(style='color:#33563c;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.8;padding-top:10px;padding-right:30px;padding-bottom:10px;padding-left:30px;')
                          div(style='line-height: 1.8; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #33563c; mso-line-height-alt: 22px;')
                            p(style='font-size: 16px; line-height: 1.8; word-break: break-word; text-align: center; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 29px; margin: 0;')
                              span(style='font-size: 16px;')
                                strong #{customer.name}
                            p(style='font-size: 16px; line-height: 1.8; word-break: break-word; text-align: center; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 29px; margin: 0;')
                              span(style='font-size: 16px;')
                                strong #{customer.email}
                            p(style='font-size: 16px; line-height: 1.8; word-break: break-word; text-align: center; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 29px; margin: 0;')
                              span(style='font-size: 16px;')
                                span(style='') #{customer.address}
                            p(style='font-size: 16px; line-height: 1.8; word-break: break-word; text-align: center; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 29px; margin: 0;')
                              span(style='font-size: 16px;')
                                span(style='') #{customer.phone}
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 480px; display: table-cell; vertical-align: top; width: 480px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%' cellspacing='0' cellpadding='0' border='0')
                          tbody
                            tr(style='vertical-align: top;' valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                                table.divider_content(role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #BBBBBB; width: 100%;' valign='top' width='100%' cellspacing='0' cellpadding='0' border='0' align='center')
                                  tbody
                                    tr(style='vertical-align: top;' valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                        span
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 480px; display: table-cell; vertical-align: top; width: 480px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 30px; padding-left: 30px; padding-top: 10px; padding-bottom: 5px; font-family: Tahoma, sans-serif')
                        div(style='color:#33563c;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.8;padding-top:10px;padding-right:30px;padding-bottom:5px;padding-left:30px;')
                          div(style='line-height: 1.8; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #33563c; mso-line-height-alt: 22px;')
                            p(style='font-size: 14px; line-height: 1.8; word-break: break-word; text-align: center; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 25px; margin: 0;')
                              strong
                                span(style='font-size: 16px;') Here's your order details
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: #ffffff;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:#ffffff')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 10px; padding-top:5px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 480px; display: table-cell; vertical-align: top; width: 480px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='text-align:center;border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 10px;')
                        each product in products
                           div(style='color:#232323;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:30px;')
                           img(src=product.image, alt=product.name style="width: 280px;")
                           div(style='line-height: 1.2; font-size: 12px; color: #232323; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                              p(style='font-size: 17px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 20px; mso-ansi-font-size: 18px; margin: 0;')
                                 span(style='font-size: 17px; mso-ansi-font-size: 18px;') #{product.name}
                           if product.addOnPrice
                              div(style='line-height: 1.2; font-size: 12px; color: #232323; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                                 p(style='font-size: 17px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 20px; mso-ansi-font-size: 18px; margin: 0;')
                                    span(style='font-size: 17px; mso-ansi-font-size: 18px;') Add On Price: #{product.addOnPrice}
                           if product.addOnLabel
                              div(style='line-height: 1.2; font-size: 12px; color: #232323; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                                 p(style='font-size: 17px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 20px; mso-ansi-font-size: 18px; margin: 0;')
                                    span(style='font-size: 17px; mso-ansi-font-size: 18px;') Add On Label: #{product.addOnLabel}
            div(style='background-color:transparent;')
              .block-grid(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 480px; display: table-cell; vertical-align: top; width: 480px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%' cellspacing='0' cellpadding='0' border='0')
                          tbody
                            tr(style='vertical-align: top;' valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                                table.divider_content(role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #BBBBBB; width: 100%;' valign='top' width='100%' cellspacing='0' cellpadding='0' border='0' align='center')
                                  tbody
                                    tr(style='vertical-align: top;' valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                        span
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid.two-up.no-stack(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: #ffffff;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:#ffffff')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num6(style='display: table-cell; vertical-align: top; max-width: 320px; min-width: 240px; width: 240px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 10px; padding-left: 35px; padding-top: 10px; padding-bottom: 0px; font-family: Tahoma, sans-serif')
                        div(style='color:#232323;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:0px;padding-left:35px;')
                          div(style='line-height: 1.2; font-size: 12px; color: #232323; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: right; mso-line-height-alt: 17px; margin: 0;')
                              span(style='font-size: 14px;') Weekly Subtotal:
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num6(style='display: table-cell; vertical-align: top; max-width: 320px; min-width: 240px; width: 240px;')
                     .col_cont(style='width:100% !important;')
                        // [if (!mso)&(!IE)] <!
                        div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                           table(width='100%' cellspacing='0' cellpadding='0' border='0')
                              tbody
                              tr
                                 td(style='padding-right: 10px; padding-left: 30px; padding-top: 10px; padding-bottom: 0px; font-family: Tahoma, sans-serif')
                        div(style='color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:0px;padding-left:30px;')
                           div(style='line-height: 1.2; font-size: 12px; color: #555555; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                              p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 17px; margin: 0;') #{billing.base}
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid.two-up.no-stack(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: #ffffff;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:#ffffff')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num6(style='display: table-cell; vertical-align: top; max-width: 320px; min-width: 240px; width: 240px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 10px; padding-left: 35px; padding-top: 10px; padding-bottom: 0px; font-family: Tahoma, sans-serif')
                        div(style='color:#232323;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:0px;padding-left:35px;')
                          div(style='line-height: 1.2; font-size: 12px; color: #232323; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: right; mso-line-height-alt: 17px; margin: 0;')
                              span(style='font-size: 14px;') Delivery:
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num6(style='display: table-cell; vertical-align: top; max-width: 320px; min-width: 240px; width: 240px;')
                     .col_cont(style='width:100% !important;')
                        // [if (!mso)&(!IE)] <!
                        div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                           table(width='100%' cellspacing='0' cellpadding='0' border='0')
                              tbody
                              tr
                                 td(style='padding-right: 10px; padding-left: 30px; padding-top: 10px; padding-bottom: 0px; font-family: Tahoma, sans-serif')
                        div(style='color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:0px;padding-left:30px;')
                           div(style='line-height: 1.2; font-size: 12px; color: #555555; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                              p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 17px; margin: 0;') #{billing.delivery}
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)

            div(style='background-color:transparent;')
              .block-grid.two-up.no-stack(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: #ffffff;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:#ffffff')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num6(style='display: table-cell; vertical-align: top; max-width: 320px; min-width: 240px; width: 240px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 10px; padding-left: 35px; padding-top: 10px; padding-bottom: 0px; font-family: Tahoma, sans-serif')
                        div(style='color:#232323;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:0px;padding-left:35px;')
                          div(style='line-height: 1.2; font-size: 12px; color: #232323; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: right; mso-line-height-alt: 17px; margin: 0;')
                              span(style='font-size: 14px;') Add On Total:
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num6(style='display: table-cell; vertical-align: top; max-width: 320px; min-width: 240px; width: 240px;')
                     .col_cont(style='width:100% !important;')
                        // [if (!mso)&(!IE)] <!
                        div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                           table(width='100%' cellspacing='0' cellpadding='0' border='0')
                              tbody
                              tr
                                 td(style='padding-right: 10px; padding-left: 30px; padding-top: 10px; padding-bottom: 0px; font-family: Tahoma, sans-serif')
                        div(style='color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:0px;padding-left:30px;')
                           div(style='line-height: 1.2; font-size: 12px; color: #555555; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                              p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 17px; margin: 0;') #{billing.addOnTotal}
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid.two-up.no-stack(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: #ffffff;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:#ffffff')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num6(style='display: table-cell; vertical-align: top; max-width: 320px; min-width: 240px; width: 240px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 10px; padding-left: 35px; padding-top: 10px; padding-bottom: 0px; font-family: Tahoma, sans-serif')
                        div(style='color:#232323;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:0px;padding-left:35px;')
                          div(style='line-height: 1.2; font-size: 12px; color: #232323; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: right; mso-line-height-alt: 17px; margin: 0;')
                              span(style='font-size: 14px;') Discount:
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num6(style='display: table-cell; vertical-align: top; max-width: 320px; min-width: 240px; width: 240px;')
                     .col_cont(style='width:100% !important;')
                        // [if (!mso)&(!IE)] <!
                        div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                           table(width='100%' cellspacing='0' cellpadding='0' border='0')
                              tbody
                              tr
                                 td(style='padding-right: 10px; padding-left: 30px; padding-top: 10px; padding-bottom: 0px; font-family: Tahoma, sans-serif')
                        div(style='color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:0px;padding-left:30px;')
                           div(style='line-height: 1.2; font-size: 12px; color: #555555; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                              p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 17px; margin: 0;') #{billing.discount}
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid.two-up.no-stack(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: #ffffff;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:#ffffff')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num6(style='display: table-cell; vertical-align: top; max-width: 320px; min-width: 240px; width: 240px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 10px; padding-left: 35px; padding-top: 10px; padding-bottom: 0px; font-family: Tahoma, sans-serif')
                        div(style='color:#232323;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:0px;padding-left:35px;')
                          div(style='line-height: 1.2; font-size: 12px; color: #232323; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: right; mso-line-height-alt: 17px; margin: 0;')
                              span(style='font-size: 14px;') Tax:
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num6(style='display: table-cell; vertical-align: top; max-width: 320px; min-width: 240px; width: 240px;')
                     .col_cont(style='width:100% !important;')
                        // [if (!mso)&(!IE)] <!
                        div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                           table(width='100%' cellspacing='0' cellpadding='0' border='0')
                              tbody
                              tr
                                 td(style='padding-right: 10px; padding-left: 30px; padding-top: 10px; padding-bottom: 0px; font-family: Tahoma, sans-serif')
                        div(style='color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:0px;padding-left:30px;')
                           div(style='line-height: 1.2; font-size: 12px; color: #555555; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                              p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 17px; margin: 0;') #{billing.tax}
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            
            div(style='background-color:transparent;')
              .block-grid.two-up.no-stack(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: #ffffff;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:#ffffff')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num6(style='display: table-cell; vertical-align: top; max-width: 320px; min-width: 240px; width: 240px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 10px; padding-left: 35px; padding-top: 10px; padding-bottom: 0px; font-family: Tahoma, sans-serif')
                        div(style='color:#232323;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:0px;padding-left:35px;')
                          div(style='line-height: 1.2; font-size: 12px; color: #232323; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                            p(style='font-size: 18px; line-height: 1.2; word-break: break-word; text-align: right; mso-line-height-alt: 22px; margin: 0;')
                              span(style='font-size: 18px;') Total
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num6(style='display: table-cell; vertical-align: top; max-width: 320px; min-width: 240px; width: 240px;')
                     .col_cont(style='width:100% !important;')
                        // [if (!mso)&(!IE)] <!
                        div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                           table(width='100%' cellspacing='0' cellpadding='0' border='0')
                              tbody
                              tr
                                 td(style='padding-right: 10px; padding-left: 30px; padding-top: 10px; padding-bottom: 0px; font-family: Tahoma, sans-serif')
                        div(style='color:#d19fc2;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:0px;padding-left:30px;')
                           div(style='line-height: 1.2; font-size: 12px; color: #d19fc2; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                              p(style='font-size: 18px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 22px; margin: 0;')
                              span(style='font-size: 18px;') #{billing.total}
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 480px; display: table-cell; vertical-align: top; width: 480px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%' cellspacing='0' cellpadding='0' border='0')
                          tbody
                            tr(style='vertical-align: top;' valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                                table.divider_content(role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #BBBBBB; width: 100%;' valign='top' width='100%' cellspacing='0' cellpadding='0' border='0' align='center')
                                  tbody
                                    tr(style='vertical-align: top;' valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                        span
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:#ffffff;')
              .block-grid(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:#ffffff;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;')
                  .col.num12(style='min-width: 320px; max-width: 480px; display: table-cell; vertical-align: top; width: 480px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 10px; padding-left: 30px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                        div(style='color:#33563c;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:30px;')
                          div(style='line-height: 1.2; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #33563c; mso-line-height-alt: 14px;')
                            p(style='font-size: 18px; line-height: 1.2; word-break: break-word; text-align: center; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 22px; margin: 0;')
                              strong
                                span(style='') Where To Find Us
                        //if mso
                        //if mso
                          table(width='100%' cellspacing='0' cellpadding='0' border='0')
                            tbody
                              tr
                                td(style='padding-right: 10px; padding-left: 30px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                        div(style='color:#33563c;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.5;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:30px;')
                          div(style='line-height: 1.5; font-size: 12px; text-align: center; color: #33563c; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 18px;')
                            span(style='font-size: 12px;')
                              | Our Website - 
                              a(href=restaurant.brand.website rel='noopener' style='text-decoration: underline; color: #33563c;' target='_blank') #{restaurant.brand.website}
                              br
                            span(style='font-size: 12px;')
                              | #{restaurant.address}
                              br
                              | #{restaurant.contact.phoneNo}
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:#ffffff;')
              .block-grid(style='min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:#ffffff;' width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:480px' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%' cellspacing='0' cellpadding='0' border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 480px; display: table-cell; vertical-align: top; width: 480px;')
                    .col_cont(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%' cellspacing='0' cellpadding='0' border='0')
                          tbody
                            tr(style='vertical-align: top;' valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                                table.divider_content(role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 0px; width: 100%;' valign='top' width='100%' height='0' cellspacing='0' cellpadding='0' border='0' align='center')
                                  tbody
                                    tr(style='vertical-align: top;' valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' height='0')
                                        span
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
                        //if (mso)|(IE)
                        //if (IE)
