html
   head
      title #{name}
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(href='https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css' rel="stylesheet")
   body.flex.flex-col.p-2
      header.flex.justify-between
         h2 Order Id: #{order.id}
         h2 Product Id: #{product.id}
      hr
      div.flex.items-start
         section.flex-1.pt-2
            div
               span.text-sm.font-bold Name
               h4 #{name}
            div
               span.text-sm.font-bold Quantity
               h4 #{quantity}
         section.self-right
            img(src=qrCode).w-32
      
